/*
@File: StartP Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Default CSSnavbar-expand-md
** - Preloader CSS
** - Navbar CSS
** - Main Banner CSS
** - Boxes CSS
** - About CSS
** - Services CSS
** - Features CSS
** - Team CSS
** - Works CSS
** - Fun Facts CSS
** - Pricing CSS
** - Feedback CSS
** - Ready To Talk CSS
** - Partner CSS
** - Blog CSS
** - Page Title CSS
** - FAQ CSS
** - Pagination CSS
** - Blog Details CSS
** - Project Details CSS
** - Contact CSS
** - Footer CSS
** - Coming Soon CSS
** - 404 Error CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: #0e314c;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  outline: 0 !important;
}

a:hover, a:focus {
  color: #f48665;
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  color: #6084a4;
  line-height: 1.9;
}

p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #0e314c;
  font-weight: 500;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-f7fafd {
  background-color: #f7fafd;
}

.bg-f9f6f6 {
  background-color: #f9f6f6;
}

/*btn btn-primary*/
.btn-primary {
  color: #ffffff;
  background-color: #f48665;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #f48665;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
  opacity: 1;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
  background: #0e314c;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 15px 40px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn::after, .btn::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #44ce6f;
  z-index: -1;
}

.btn::after {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.btn::before {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.btn:hover::after, .btn:hover::before {
  width: 50%;
}

/*owl carousel btn*/
.owl-carousel.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-carousel.owl-theme .owl-dots {
  margin-top: 20px;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #D6D6D6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.owl-carousel.owl-theme .owl-dots .owl-dot:hover span, .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background: #f48665;
}

/*form control*/
.form-group {
  margin-bottom: 18px;
}

label {
  color: #0e314c;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  height: 45px;
  padding: 10px;
  font-size: 14px;
  color: #0e314c;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:focus {
  outline: 0;
  background: #ffffff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #f48665;
}

/*Section Title*/
.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-title p {
  max-width: 520px;
  margin: 0 auto;
}

.section-title .bar {
  height: 5px;
  width: 90px;
  background: #d6b4e7;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}

.section-title .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f48665;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}

/*================================================
Preloader CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: #f48665;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
          animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
  top: 50%;
  margin-top: -75px;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*================================================
Navbar CSS
=================================================*/
.startp-mobile-nav {
  display: none;
}

.startp-mobile-nav.mean-container .mean-nav ul li a.active {
  color: #f48665;
}

.startp-nav {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  z-index: 999;
  height: auto;
}

.startp-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.startp-nav nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}

.startp-nav nav .navbar-nav .nav-item a {
  font-weight: 500;
  font-size: 14px;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 14px;
  margin-right: 14px;
}

.startp-nav nav .navbar-nav .nav-item a:hover, .startp-nav nav .navbar-nav .nav-item a:focus, .startp-nav nav .navbar-nav .nav-item a.active {
  color: #f48665;
}

.startp-nav nav .navbar-nav .nav-item a svg {
  width: 14px;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #ffffff;
  position: absolute;
  top: 80px;
  left: 0;
  display: block;
  width: 200px;
  z-index: 99;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  opacity: 0;
  border-radius: 5px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 0;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 14px;
  font-weight: 500;
  padding: 9px 15px;
  margin: 0;
  display: block;
  color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #f48665;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  position: absolute;
  left: 190px;
  top: 0;
  opacity: 0 !important;
  visibility: hidden !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #f48665;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
  top: -20px !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #f48665;
}

.startp-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.startp-nav nav .others-option {
  margin-left: 20px;
}

.startp-nav nav .others-option .btn.btn-light {
  background: transparent;
  border: 2px dashed #d6b4e7;
  padding: 12px 33px;
  margin-right: 10px;
}

.startp-nav nav .others-option .btn.btn-light:hover, .startp-nav nav .others-option .btn.btn-light:focus {
  color: #ffffff;
  border-color: #f48665;
}

.startp-nav nav .others-option .btn.btn-light::after, .startp-nav nav .others-option .btn.btn-light::before {
  background: #f48665;
}

.startp-nav nav .others-option .btn.btn-primary {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.startp-nav nav .others-option .btn.btn-primary::after, .startp-nav nav .others-option .btn.btn-primary::before {
  background: #f48665;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.startp-nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

/*================================================
Main Banner CSS
=================================================*/
.main-banner {
  position: relative;
  height: 910px;
  z-index: 1;
  background: transparent url('../../images/banner-bg1.jpg') right top no-repeat;
}

.main-banner .hero-content h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-banner .hero-content p {
  margin-bottom: 30px;
}

.main-banner .banner-form {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 50px 30px;
  border-radius: 5px;
}

.main-banner .banner-form form .form-control {
  padding-left: 15px;
}

.main-banner .banner-form form .btn {
  display: block;
  width: 100%;
  -webkit-transform: unset;
          transform: unset;
  margin-top: 25px;
}

.main-banner .banner-image {
  position: relative;
}

.main-banner .banner-image img {
  position: absolute;
}

.main-banner .banner-image img:nth-child(1) {
  z-index: 3;
  top: -130px;
  left: -45px;
}

.main-banner .banner-image img:nth-child(2) {
  right: 145px;
  top: -287px;
}

.main-banner .banner-image img:nth-child(3) {
  left: 25px;
  top: -20px;
}

.main-banner .banner-image img:nth-child(4) {
  right: 12%;
  top: 118px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(5) {
  left: 28%;
  top: -120px;
  z-index: 2;
}

.main-banner .banner-image img:nth-child(6) {
  right: 35%;
  z-index: 1;
  top: -150px;
}

.main-banner .banner-image img:nth-child(7) {
  right: 20px;
  top: -110px;
}

.main-banner .banner-image img:nth-child(8) {
  right: 25px;
  top: -140px;
}

.main-banner .banner-image img:nth-child(9) {
  right: 30%;
  z-index: 1;
  top: -35px;
}

.main-banner .banner-image img:nth-child(10) {
  left: 37%;
  top: -28px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(11) {
  left: 37%;
  top: -160px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(12) {
  left: 90px;
  top: -110px;
}

.main-banner .banner-image img:nth-child(13) {
  left: 56%;
  top: -25px;
  z-index: 2;
}

.main-banner .banner-image img:nth-child(14) {
  right: 105px;
  top: -28px;
}

.main-banner .banner-image img:last-child {
  display: none;
}

.hosting-main-banner {
  height: 650px;
  position: relative;
  z-index: 1;
  background-color: #032b8d;
}

.hosting-main-banner .hosting-banner-content h1 {
  font-size: 45px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 25px;
}

.hosting-main-banner .hosting-banner-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hosting-main-banner .hosting-banner-content ul li {
  margin-bottom: 12px;
  color: #ffffff;
  position: relative;
  padding-left: 30px;
}

.hosting-main-banner .hosting-banner-content ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #f48665;
  content: '';
}

.hosting-main-banner .hosting-banner-content ul li:last-child {
  margin-bottom: 0;
}

.hosting-main-banner .hosting-banner-content p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.hosting-main-banner .hosting-banner-content p span {
  text-decoration: line-through;
}

.hosting-main-banner .hosting-banner-image {
  position: relative;
}

.hosting-main-banner .hosting-banner-image img {
  position: absolute;
}

.hosting-main-banner .hosting-banner-image img:nth-child(1) {
  top: -175px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hosting-main-banner .hosting-banner-image img:nth-child(2) {
  top: 184px;
  left: 21%;
}

.hosting-main-banner .hosting-banner-image img:nth-child(3) {
  top: 177px;
  right: 38px;
}

.hosting-main-banner .hosting-banner-image img:nth-child(4) {
  left: 29%;
  right: 0;
  top: -15px;
  margin: 0 auto;
}

.hosting-main-banner .hosting-banner-image img:nth-child(5) {
  right: 8px;
  top: -107px;
}

.hosting-main-banner .hosting-banner-image img:nth-child(6) {
  left: 18%;
  top: -175px;
  z-index: -1;
}

.hosting-main-banner .hosting-banner-image img:nth-child(7) {
  top: -235px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hosting-main-banner .hosting-banner-image img:nth-child(8) {
  left: 27%;
  top: -200px;
}

.hosting-main-banner .hosting-banner-image img:nth-child(9) {
  z-index: -2;
  top: 40px;
  left: 80px;
  right: 0;
  margin: 0 auto;
}

.hosting-main-banner .hosting-banner-image img:nth-child(10) {
  display: none;
}

.hosting-main-banner .hosting-banner-image.single-hosting-banner-image img {
  display: block;
  position: relative;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
}

.shape1 {
  position: absolute;
  top: 20%;
  z-index: -1;
  left: 30px;
  -webkit-animation: rotate3d 4s linear infinite;
          animation: rotate3d 4s linear infinite;
  opacity: .4;
}

.shape2 {
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 15%;
}

.shape3 {
  position: absolute;
  left: 25%;
  bottom: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 15s infinite linear;
          animation: animationFramesOne 15s infinite linear;
}

.shape4 {
  position: absolute;
  right: 25%;
  bottom: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.shape5 {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: -1;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
  opacity: .2;
}

.shape6 {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 10%;
}

.shape7 {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.shape8 {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 10%;
}

@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.rotateme {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

/*================================================
Boxes CSS
=================================================*/
.boxes-area {
  position: relative;
  padding-bottom: 80px;
  margin-top: -130px;
  z-index: 1;
}

.hosting-boxes-area {
  background-color: #032b8d;
  margin-top: 0;
}

.hosting-boxes-area .single-box {
  padding-left: 15px;
  padding-right: 15px;
}

.single-box {
  border: 1px dashed #cdf1d8;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
          box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box .icon {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box.bg-f78acb {
  border-color: rgba(247, 138, 203, 0.3);
}

.single-box.bg-f78acb .icon {
  color: #f78acb;
  background: rgba(247, 138, 203, 0.3);
}

.single-box.bg-c679e3 {
  border-color: #edc3fc;
}

.single-box.bg-c679e3 .icon {
  color: #f48665;
  background: #edc3fc;
}

.single-box.bg-eb6b3d {
  border-color: rgba(235, 107, 61, 0.3);
}

.single-box.bg-eb6b3d .icon {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-box:hover {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  border-color: transparent;
}

.single-box:hover::before {
  opacity: 1;
  visibility: visible;
}

.single-box:hover .icon {
  background: #ffffff;
  color: #f48665;
}

.single-box:hover h3, .single-box:hover p {
  color: #ffffff;
}

.single-box:hover.bg-f78acb .icon {
  color: #f78acb;
}

.single-box:hover.bg-c679e3 .icon {
  color: #f48665;
}

.single-box:hover.bg-eb6b3d .icon {
  color: #eb6b3d;
}

/*================================================
About CSS
=================================================*/
.about-content .section-title {
  text-align: left;
  margin-bottom: 18px;
}

.about-content .section-title .bar {
  margin-right: 0;
  margin-left: 0;
}

.about-content .section-title p {
  margin: 0;
}

.about-inner-area {
  margin-top: 60px;
}

.about-inner-area .about-text h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

/*================================================
Services CSS
=================================================*/
.services-area {
  overflow: hidden;
}

.services-content .section-title {
  text-align: left;
  margin-bottom: 20px;
}

.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
}

.services-content .section-title p {
  margin: 0;
}

.services-content .row {
  margin-left: -8px;
  margin-right: -8px;
}

.services-content .row .col-lg-6 {
  padding-left: 8px;
  padding-right: 8px;
}

.services-content .box {
  position: relative;
  margin-top: 30px;
  z-index: 1;
  display: block;
  padding: 15px 12px;
  color: #6084a4;
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.services-content .box::before {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-content .box svg {
  margin-right: 5px;
  display: inline-block;
  color: #f48665;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 18px;
}

.services-content .box:hover {
  color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services-content .box:hover::before {
  opacity: 1;
  visibility: visible;
}

.services-content .box:hover svg {
  color: #ffffff;
}

.services-right-image {
  position: relative;
}

.services-right-image img {
  position: absolute;
}

.services-right-image img:nth-child(1) {
  left: 22%;
  top: -85px;
  z-index: 1;
}

.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}

.services-right-image img:nth-child(3) {
  left: 44%;
  top: -33px;
  z-index: 1;
}

.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}

.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}

.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}

.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}

.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}

.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}

.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}

.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}

.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}

.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}

.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-right-image img:last-child {
  display: none;
}

.services-left-image {
  position: relative;
}

.services-left-image img {
  position: absolute;
}

.services-left-image img:nth-child(1) {
  left: 15%;
  top: -150px;
}

.services-left-image img:nth-child(2) {
  left: 0;
  top: -200px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.services-left-image img:nth-child(3) {
  left: 36%;
  z-index: 12;
  top: -55px;
}

.services-left-image img:nth-child(4) {
  left: 55px;
  top: -38px;
  z-index: 1;
}

.services-left-image img:nth-child(5) {
  z-index: 3;
  right: 26%;
  top: -66px;
}

.services-left-image img:nth-child(6) {
  right: 19%;
  top: -41px;
  z-index: 2;
}

.services-left-image img:nth-child(7) {
  right: 97px;
  top: 40px;
  z-index: 1;
}

.services-left-image img:nth-child(8) {
  right: 23%;
  top: -175px;
  z-index: 2;
}

.services-left-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-left-image img:last-child {
  display: none;
}

.single-services-box {
  position: relative;
  background: #ffffff;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.single-services-box .icon {
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon.bg-c679e3 {
  color: #f48665;
  background: #edc3fc;
}

.single-services-box .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-services-box::before, .single-services-box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #f48665;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box::before {
  left: 0;
}

.single-services-box::after {
  right: 0;
}

.single-services-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-services-box:hover .icon {
  background: #f48665;
  color: #ffffff;
}

.single-services-box:hover .icon.bg-c679e3 {
  background: #f48665;
}

.single-services-box:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.single-services-box:hover::after, .single-services-box:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.services-area-two {
  padding-bottom: 50px;
}

/*================================================
Features CSS
=================================================*/
.features-area {
  padding-bottom: 50px;
}

.features-area-two {
  overflow: hidden;
}

.single-features {
  position: relative;
  background: #ffffff;
  padding-left: 95px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-features .icon {
  position: absolute;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  left: 20px;
  top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features .icon.bg-c679e3 {
  color: #f48665;
  background: #edc3fc;
}

.single-features .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-features:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-features:hover .icon {
  background: #f48665;
  color: #ffffff;
}

.single-features:hover .icon.bg-c679e3 {
  background: #f48665;
}

.single-features:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

/*================================================
Team CSS
=================================================*/
.team-area {
  padding-bottom: 50px;
}

.team-area .owl-carousel {
  margin-bottom: 30px;
}

.single-team {
  background: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
}

.single-team .team-image {
  position: relative;
  z-index: 1;
  padding-left: 35px;
  padding-right: 35px;
}

.single-team .team-image img {
  border: 3px solid #d6b4e7;
  width: auto !important;
  border-radius: 50%;
  display: inline-block !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  background: #f9f6f6;
  height: 10px;
  width: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-content {
  padding-left: 35px;
  padding-right: 35px;
}

.single-team .team-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.single-team .team-content ul li {
  display: inline-block;
  margin: 0 6px;
}

.single-team .team-content ul li a {
  color: #44ce6f;
}

.single-team .team-content ul li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #f48665;
}

.single-team .team-content ul li a svg {
  width: 19px;
}

.single-team .team-content p {
  margin-top: 20px;
  margin-bottom: 0;
}

.single-team .team-info {
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  padding: 10px 15px;
  border-radius: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}

.single-team .team-info span {
  color: #ffffff;
  font-size: 13px;
}

.single-team:hover {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-team:hover .team-image::before {
  height: 0;
}

.single-team:hover .team-image img {
  border-color: #f48665;
}

.single-team:hover .team-info {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

/*================================================
Works CSS
=================================================*/
.works-area {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.single-works {
  position: relative;
  margin-bottom: 30px;
}

.single-works::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.single-works .icon {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 45px;
  background: #ffffff;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 42px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

.single-works .icon svg {
  width: 19px;
}

.single-works .icon:hover {
  background: #f48665;
  color: #ffffff;
}

.single-works .works-content {
  position: absolute;
  bottom: -60px;
  left: 0;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.single-works .works-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-works .works-content h3 a {
  color: #ffffff;
}

.single-works .works-content p {
  color: #ffffff;
}

.single-works:hover::before {
  opacity: .8;
  visibility: visible;
}

.single-works:hover .icon {
  opacity: 1;
  visibility: visible;
  top: 45px;
}

.single-works:hover .works-content {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

/*================================================
Fun Facts CSS
=================================================*/
.funfacts-area {
  position: relative;
  z-index: 1;
}

.funfacts-area .section-title h2 {
  max-width: 520px;
  margin: 0 auto;
  line-height: 30px;
}

.funfacts-area .map-bg {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.funfact {
  text-align: center;
}

.funfact h3 {
  color: #f48665;
  font-size: 32px;
  margin-bottom: 7px;
}

.contact-cta-box {
  margin: 80px auto 0;
  max-width: 600px;
  border: 1px dashed #ebebeb;
  padding: 30px 210px 30px 30px;
  border-radius: 5px;
  position: relative;
}

.contact-cta-box h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

.contact-cta-box p {
  margin-bottom: 0;
}

.contact-cta-box .btn {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -27px;
}

.contact-cta-box .btn::before, .contact-cta-box .btn::after {
  background: #f48665;
}

.contact-cta-box .btn-primary {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.contact-cta-box .btn-primary:hover, .contact-cta-box .btn-primary:focus {
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

/*==========================================
Pricing CSS
===========================================*/
.pricing-area {
  position: relative;
  z-index: 1;
}

.pricing-table {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding-bottom: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing-table .pricing-header {
  background: #ffffff;
  position: relative;
  padding: 30px 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
  z-index: 1;
}

.pricing-table .pricing-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.pricing-table .pricing-header h3 {
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0;
}

.pricing-table .price {
  margin-bottom: 30px;
}

.pricing-table .price span {
  color: #f48665;
  font-size: 30px;
  font-weight: 600;
}

.pricing-table .price span sup {
  font-weight: 500;
}

.pricing-table .price span span {
  font-size: 14px;
  font-weight: 500;
}

.pricing-table .pricing-features ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.pricing-table .pricing-features ul li {
  color: #CCDCEA;
  margin-bottom: 12px;
  text-decoration: line-through;
}

.pricing-table .pricing-features ul li:last-child {
  margin-bottom: 0;
}

.pricing-table .pricing-features ul li.active {
  color: #6084a4;
  text-decoration: none;
}

.pricing-table:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.pricing-table:hover .pricing-header::before {
  opacity: 1;
  visibility: visible;
}

.pricing-table:hover .pricing-header h3 {
  color: #ffffff;
}

.pricing-table.active-plan .pricing-header::before {
  opacity: 1;
  visibility: visible;
}

.pricing-table.active-plan .pricing-header h3 {
  color: #ffffff;
}

.pricing-table.active-plan .btn-primary {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.pricing-table.active-plan .btn-primary::after, .pricing-table.active-plan .btn-primary::before {
  background: #f48665;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

/*================================================
Feedback CSS
=================================================*/
.feedback-area {
  position: relative;
  z-index: 1;
}

.feedback-slides {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.feedback-slides .client-feedback {
  position: relative;
}

.feedback-slides .client-feedback .single-feedback {
  background: #ffffff;
  border-radius: 5px;
  padding-left: 170px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  position: relative;
}

.feedback-slides .client-feedback .single-feedback .client-img {
  position: absolute;
  left: 40px;
  top: 40px;
}

.feedback-slides .client-feedback .single-feedback .client-img img {
  border-radius: 50%;
  border: 2px solid #f48665;
  padding: 3px;
}

.feedback-slides .client-feedback .single-feedback h3 {
  font-size: 18px;
  margin: 0;
}

.feedback-slides .client-feedback .single-feedback span {
  display: block;
  margin-top: 8px;
  margin-bottom: 18px;
  color: #44ce6f;
}

.feedback-slides .client-feedback .single-feedback p {
  font-size: 15px;
}

.feedback-slides .client-feedback .single-feedback::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-slides .client-thumbnails {
  position: relative;
  margin: 0 85px;
}

.feedback-slides .client-thumbnails .item .img-fill {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.feedback-slides .client-thumbnails .item .img-fill img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  border: 2px solid #f48665;
  border-radius: 50%;
  padding: 3px;
  width: 85px;
}

.feedback-slides .client-thumbnails .item:hover .img-fill img, .feedback-slides .client-thumbnails .slick-center .img-fill img {
  opacity: 1;
}

.client-thumbnails .next-arrow, .client-thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  color: #5e5e5e;
  border: 2px solid #5e5e5e;
  z-index: 1;
  border-radius: 50%;
  line-height: 30px;
  outline: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.client-thumbnails .next-arrow::before, .client-thumbnails .prev-arrow::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.client-thumbnails .next-arrow:hover, .client-thumbnails .prev-arrow:hover {
  color: #ffffff;
  border-color: #f48665;
}

.client-thumbnails .next-arrow:hover::before, .client-thumbnails .prev-arrow:hover::before {
  opacity: 1;
  visibility: visible;
}

.client-thumbnails .next-arrow svg, .client-thumbnails .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}

.client-thumbnails .next-arrow {
  right: -20px;
}

.client-thumbnails .prev-arrow {
  left: -20px;
}

/*================================================
Ready To Talk CSS
=================================================*/
.ready-to-talk {
  text-align: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 160px;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
}

.ready-to-talk h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.ready-to-talk p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
}

.ready-to-talk .btn::before, .ready-to-talk .btn::after {
  background: #f48665;
}

.ready-to-talk .btn-primary {
  background: #44ce6f;
  -webkit-box-shadow: 0 5px 20px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 5px 20px 0 rgba(68, 206, 111, 0.25);
}

.ready-to-talk .btn-primary:hover, .ready-to-talk .btn-primary:focus {
  -webkit-box-shadow: 0 5px 20px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 5px 20px 0 rgba(198, 121, 227, 0.25);
}

.ready-to-talk span a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: underline;
}

/*================================================
Partner CSS
=================================================*/
.partner-section {
  text-align: center;
  position: relative;
  margin-top: -120px;
  background: transparent;
}

.partner-section h5 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
}

.partner-section .partner-inner {
  background: #ffffff;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-top: 25px;
}

.partner-section .partner-inner a {
  display: block;
  margin-top: 25px;
  position: relative;
}

.partner-section .partner-inner a img:last-child {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.partner-section .partner-inner a:hover img:last-child {
  opacity: 1;
  top: 0;
  visibility: visible;
}

/*================================================
Blog CSS
=================================================*/
.blog-area {
  padding-bottom: 50px;
}

.blog-area .pagination-area {
  margin-bottom: 30px;
}

.single-blog-post {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
}

.single-blog-post .blog-image {
  position: relative;
}

.single-blog-post .blog-image a {
  display: block;
}

.single-blog-post .blog-image .date {
  position: absolute;
  left: 20px;
  bottom: -20px;
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  color: #ffffff;
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 50px;
}

.single-blog-post .blog-image .date svg {
  width: 15px;
  margin-right: 3px;
}

.single-blog-post .blog-post-content {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: #f7fafd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-blog-post .blog-post-content h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.single-blog-post .blog-post-content span {
  display: block;
  color: #0e314c;
  margin: 15px 0;
}

.single-blog-post .blog-post-content span a {
  color: #6084a4;
  margin: 0 6px;
}

.single-blog-post .blog-post-content span a:hover {
  color: #f48665;
}

.single-blog-post .blog-post-content .read-more-btn {
  color: #0e314c;
}

.single-blog-post .blog-post-content .read-more-btn svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 15px;
}

.single-blog-post .blog-post-content .read-more-btn:hover {
  color: #f48665;
}

.single-blog-post .blog-post-content .read-more-btn:hover svg {
  margin-left: 5px;
}

.single-blog-post:hover {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-blog-post:hover .blog-post-content {
  background: #ffffff;
}

/*================================================
Page Title CSS
=================================================*/
.page-title-area {
  position: relative;
  z-index: 1;
  background: transparent url('../../images/banner-bg1.jpg') right top no-repeat;
  padding-top: 190px;
  padding-bottom: 100px;
  text-align: center;
}

.page-title-area h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/*================================================
FAQ CSS
=================================================*/
.faq-accordion {
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
  padding: 60px;
  background: #ffffff;
  border-radius: 10px;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.faq-accordion .accordion .accordion-item {
  display: block;
  margin-bottom: 15px;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-title {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  background: #f5f9ff;
  font-size: 18px;
}

.faq-accordion .accordion .accordion-item .accordion-title:hover, .faq-accordion .accordion .accordion-item .accordion-title.active, .faq-accordion .accordion .accordion-item .accordion-title:focus {
  background: #f48665;
  color: #ffffff;
}

.faq-accordion .accordion .accordion-item .accordion-title.active {
  border-radius: 0;
}

.faq-accordion .accordion .accordion-item .accordion-content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 0;
  line-height: 1.9;
}

.faq-accordion .accordion .accordion-item .accordion-content.show {
  display: block;
}

.faq-contact {
  margin-top: 45px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
  padding: 60px;
  border-radius: 4px;
  background: #ffffff;
}

.faq-contact h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.faq-contact form .btn {
  margin-top: 10px;
}

/*=============================
Pagination CSS
===============================*/
.pagination-area {
  text-align: center;
  margin-top: 40px;
}

.pagination-area ul {
  padding: 0;
  margin: 0;
}

.pagination-area ul .page-item .page-link {
  padding: 11px 20px;
  margin: 0 -1px;
  color: #6f8ba4;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 10px 0 #d8dde6;
          box-shadow: 0 2px 10px 0 #d8dde6;
}

.pagination-area ul .page-item .page-link:hover, .pagination-area ul .page-item .page-link:focus {
  color: #ffffff;
  background-color: #f48665;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.pagination-area ul .page-item .page-link svg {
  width: 16px;
}

.pagination-area ul .page-item.active .page-link {
  color: #ffffff;
  background-color: #f48665;
}

/*================================================
Blog Details CSS
=================================================*/
.blog-details-area {
  position: relative;
}

.blog-details-area .blog-details {
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  background: #ffffff;
}

.blog-details-area .blog-details .article-img {
  position: relative;
}

.blog-details-area .blog-details .article-img .date {
  position: absolute;
  bottom: 15px;
  width: 100px;
  right: 15px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  background: #f48665;
  color: #ffffff;
  border-radius: 5px;
  padding-top: 18px;
  line-height: 30px;
}

.blog-details-area .blog-details .article-content {
  padding: 30px;
}

.blog-details-area .blog-details .article-content ul li {
  display: inline-block;
}

.blog-details-area .blog-details .article-content ul.category {
  margin-bottom: 25px;
}

.blog-details-area .blog-details .article-content ul.category li a {
  background: #f48665;
  color: #ffffff;
  padding: 5px 15px 3px;
  display: inline-block;
  border-radius: 3px;
}

.blog-details-area .blog-details .article-content h3 {
  font-size: 18px;
}

.blog-details-area .blog-details .article-content p {
  margin-bottom: 0;
  margin-top: 18px;
}

.blog-details-area .blog-details .article-content .blockquote {
  margin-bottom: 20px;
  margin-top: 20px;
  background: #f7fafd;
  padding: 25px;
  border-left: 4px solid #f48665;
}

.blog-details-area .blog-details .article-content .blockquote p {
  margin-top: 0;
  font-size: 17px;
}

.blog-details-area .blog-details .article-content .share-post {
  text-align: center;
  margin-top: 30px;
}

.blog-details-area .blog-details .article-content .share-post ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 38px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  color: #0e314c;
}

.blog-details-area .blog-details .article-content .share-post ul li a:hover, .blog-details-area .blog-details .article-content .share-post ul li a:focus {
  color: #ffffff;
  border-color: #f48665;
  background-color: #f48665;
}

.blog-details-area .blog-details .article-content .share-post ul li a svg {
  width: 16px;
}

.blog-details-area .blog-details .article-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.blog-details-area .post-controls-buttons {
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
}

.blog-details-area .post-controls-buttons .controls-left {
  float: left;
}

.blog-details-area .post-controls-buttons .controls-right {
  float: right;
}

.blog-details-area .post-controls-buttons div a {
  border: 1px solid #eeeeee;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

.blog-details-area .post-controls-buttons div a:hover, .blog-details-area .post-controls-buttons div a:focus {
  color: #ffffff;
  background: #44ce6f;
  border-color: #44ce6f;
}

.blog-details-area .post-comments {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
}

.blog-details-area .post-comments h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.blog-details-area .post-comments .single-comment {
  position: relative;
  padding-left: 95px;
  margin-top: 30px;
}

.blog-details-area .post-comments .single-comment .comment-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
}

.blog-details-area .post-comments .single-comment .comment-img img {
  border-radius: 50%;
}

.blog-details-area .post-comments .single-comment .comment-content h4 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.blog-details-area .post-comments .single-comment .comment-content span {
  color: #9774a5;
  font-size: 13px;
}

.blog-details-area .post-comments .single-comment .comment-content p {
  margin-bottom: 15px;
}

.blog-details-area .post-comments .single-comment .comment-content a {
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
}

.blog-details-area .post-comments .single-comment.left-m {
  margin-left: 85px;
}

.blog-details-area .leave-a-reply {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  margin-top: 25px;
}

.blog-details-area .leave-a-reply h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

/*================================================
Project Details CSS
=================================================*/
.project-details-image {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  text-align: center;
}

.project-details-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0e314c;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

.project-details-image a {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  color: #ffffff;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 25px;
}

.project-details-image a:hover {
  color: #44ce6f;
}

.project-details-image:hover::before {
  opacity: .90;
  visibility: visible;
}

.project-details-image:hover a {
  opacity: 1;
  visibility: visible;
  margin-top: -5px;
}

.project-details-desc h3 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* .project-details-desc .project-details-information {
  overflow: hidden;
} */

.project-details-desc .project-details-information .single-info-box {
  float: left;
  width: 20%;
  margin-top: 30px;
}

.project-details-desc .project-details-information .single-info-box h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.project-details-desc .project-details-information .single-info-box p {
  margin-bottom: 0;
}

.project-details-desc .project-details-information .single-info-box ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.project-details-desc .project-details-information .single-info-box ul li {
  display: inline-block;
  margin-right: 6px;
}

.project-details-desc .project-details-information .single-info-box ul li a {
  margin-right: 4px;
  color: #6084a4;
}

.project-details-desc .project-details-information .single-info-box ul li a svg {
  width: 18px;
}

.project-details-desc .project-details-information .single-info-box ul li a:hover {
  color: #44ce6f;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*================================================
Contact CSS
=================================================*/
.contact-info-box {
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background: #ffffff;
  padding: 30px;
}

.contact-info-box .icon {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 62px;
  background: #f7fafd;
  border-radius: 50%;
  font-size: 30px;
  color: #f48665;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact-info-box h3 {
  font-size: 18px;
  margin: 25px 0 15px;
}

.contact-info-box p {
  margin-bottom: 0;
}

.contact-info-box p a {
  color: #6084a4;
}

.contact-info-box p a:hover {
  color: #f48665;
}

.contact-info-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contact-info-box:hover .icon {
  color: #ffffff;
  background: #f48665;
}

#map {
  height: 500px;
  width: 100%;
}

#contactForm .help-block ul {
  margin: 0;
}

#contactForm .help-block ul li {
  color: red;
}

#contactForm .btn {
  margin-top: 10px;
}

#contactForm #msgSubmit.text-danger, #contactForm #msgSubmit.text-success {
  margin: 20px 0 0;
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.footer-area .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  bottom: 0;
  opacity: .7;
}

.single-footer-widget .logo {
  margin-bottom: 20px;
}

.single-footer-widget .logo a {
  display: block;
}

.single-footer-widget h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.single-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.single-footer-widget ul.list li {
  margin-bottom: 10px;
}

.single-footer-widget ul.list li a {
  color: #6084a4;
}

.single-footer-widget ul.list li a:hover {
  color: #f48665;
  padding-left: 7px;
}

.single-footer-widget ul.list li:last-child {
  margin-bottom: 0;
}

.single-footer-widget ul.footer-contact-info {
  margin-bottom: 20px;
}

.single-footer-widget ul.footer-contact-info li {
  position: relative;
  color: #6084a4;
  margin-bottom: 8px;
  padding-left: 25px;
}

.single-footer-widget ul.footer-contact-info li svg {
  position: absolute;
  left: 0;
  width: 15px;
  top: 0;
}

.single-footer-widget ul.footer-contact-info li:last-child {
  margin-bottom: 0;
}

.single-footer-widget ul.footer-contact-info li a {
  color: #6084a4;
}

.single-footer-widget ul.footer-contact-info li a:hover {
  color: #f48665;
}

.single-footer-widget ul.social-links li {
  display: inline-block;
  margin-right: 4px;
}

.single-footer-widget ul.social-links li a {
  width: 32px;
  text-align: center;
  line-height: 27px;
  height: 32px;
  border: 1px solid #44ce6f;
  border-radius: 50%;
  color: #44ce6f;
}

.single-footer-widget ul.social-links li a svg {
  width: 15px;
}

.single-footer-widget ul.social-links li a.facebook {
  border-color: #4267b2;
  color: #4267b2;
}

.single-footer-widget ul.social-links li a.facebook:hover {
  background: #4267b2;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.twitter {
  border-color: #38A1F3;
  color: #38A1F3;
}

.single-footer-widget ul.social-links li a.twitter:hover {
  background: #38A1F3;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.linkedin {
  border-color: #0077B5;
  color: #0077B5;
}

.single-footer-widget ul.social-links li a.linkedin:hover {
  background: #0077B5;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.instagram {
  border-color: #231F20;
  color: #231F20;
}

.single-footer-widget ul.social-links li a.instagram:hover {
  background: #231F20;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a:hover {
  background: #44ce6f;
  color: #ffffff;
}

.copyright-area {
  margin-top: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #d8ebfd;
  text-align: center;
}

/*================================================
Coming Soon CSS
=================================================*/
.coming-soon-area {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-image: url('../../images/coming-soon.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coming-soon-area::before {
  z-index: -1;
  background: linear-gradient(-9deg, #6a82fb 0%, #6a82fb 40%, #fc5c7d 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .8;
}

.coming-soon-area .social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: 30px;
}

.coming-soon-area .social-list li {
  display: inline-block;
}

.coming-soon-area .social-list li.list-heading {
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.coming-soon-area .social-list li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #44ce6f;
  color: #ffffff;
  border-radius: 50%;
  margin: 0 2px;
}

.coming-soon-area .social-list li a svg {
  width: 15px;
}

.coming-soon-area .social-list li a.facebook {
  background-color: #3b5998;
}

.coming-soon-area .social-list li a.twitter {
  background-color: #1da1f2;
}

.coming-soon-area .social-list li a.linkedin {
  background-color: #0077b5;
}

.coming-soon-area .social-list li a.instagram {
  background-color: #c13584;
}

.coming-soon-area .social-list li a:hover, .coming-soon-area .social-list li a:focus {
  background-color: #44ce6f;
}

.coming-soon-content {
  text-align: center;
  max-width: 820px;
  margin: -80px auto 0;
}

.coming-soon-content h1 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 15px;
}

.coming-soon-content p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 auto;
  max-width: 620px;
}

.coming-soon-content form {
  position: relative;
  margin: 35px auto 55px;
  max-width: 520px;
}

.coming-soon-content form .email-input {
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  padding: 15px 25px;
  font-size: 16px;
  outline: 0 !important;
  background: #F1F2F3;
}

.coming-soon-content form .submit-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 50px;
  background: #44ce6f;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  width: 130px;
  outline: 0 !important;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
}

.coming-soon-content form .submit-btn:hover, .coming-soon-content form .submit-btn:focus {
  background-color: #f48665;
}

.coming-soon-content #timer div {
  background: #ffffff;
  display: inline-block;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  color: #f48665;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  padding-top: 18px;
  font-size: 35px;
  font-weight: 500;
}

.coming-soon-content #timer div span {
  display: block;
  margin-top: -4px;
  color: #6084a4;
  font-size: 15px;
}

/*================================================
404 Error CSS
=================================================*/
.error-area {
  height: 100vh;
}

.error-content {
  text-align: center;
  margin-top: -70px;
}

.error-content .notfound-404 {
  position: relative;
  height: 280px;
  z-index: -1;
  margin-bottom: 30px;
}

.error-content .notfound-404 h1 {
  font-size: 230px;
  font-weight: 900;
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('../../images/oops-bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.error-content h3 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
}

.error-content p {
  max-width: 550px;
  margin: 0 auto 25px;
}

/*=============================
Go Top CSS
===============================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 0;
  color: #ffffff;
  background-color: #f48665;
  z-index: 1;
  /* display: none; */
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.go-top:hover {
  color: #ffffff;
  background: #44ce6f;
}
/*================================================
CTA CSS
=================================================*/
.cta-area {
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
}

.cta-area .container {
  max-width: 945px;
}

.cta-content h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.cta-right-content {
  text-align: right;
}

.cta-right-content .hosting-price {
  display: inline-block;
}

.cta-right-content .hosting-price span {
  color: #f6fe6a;
  display: block;
}

.cta-right-content .hosting-price h4 {
  margin: 10px 0 0;
  color: #ffffff;
  font-size: 20px;
}

.cta-right-content .buy-btn {
  display: inline-block;
  padding-left: 35px;
  position: relative;
  top: -15px;
}

.cta-right-content .buy-btn .btn-primary {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.cta-right-content .buy-btn .btn-primary::after, .cta-right-content .buy-btn .btn-primary::before {
  background: #ffffff;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.cta-right-content .buy-btn .btn-primary:hover, .cta-right-content .buy-btn .btn-primary:focus {
  color: #44ce6f;
}

/*================================================
Domain Search CSS
=================================================*/
.domain-search-content {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}

.domain-search-content h2 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

.domain-search-content form {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 30px;
}

.domain-search-content form .form-control {
  background-color: #ffffff;
  border: none;
  height: 55px;
  padding-left: 20px;
  float: left;
  width: 63%;
}

.domain-search-content form .domain-select {
  float: left;
  width: 15%;
  padding-right: 20px;
}

.domain-search-content form .domain-select .form-control {
  padding: 0;
  float: unset;
  width: 100%;
  cursor: pointer;
  height: 55px;
}

.domain-search-content form button {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  float: left;
  width: 22%;
  height: 55px;
  border-radius: 30px;
  background-color: #f48665;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.domain-search-content form button:hover, .domain-search-content form button:focus {
  background-color: #44ce6f;
}

.domain-search-content ul {
  padding: 0;
  margin: 30px 0 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.domain-search-content ul li {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 500;
  border-left: 1px solid #eeeeee;
}

.domain-search-content ul li:first-child {
  border-left: none;
}

/*================================================
Features CSS
=================================================*/
.features-area {
  padding-bottom: 50px;
}

.features-area-two {
  overflow: hidden;
}

.single-features {
  position: relative;
  background: #ffffff;
  padding-left: 95px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-features .icon {
  position: absolute;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  left: 20px;
  top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features .icon.bg-c679e3 {
  color: #f48665;
  background: #edc3fc;
}

.single-features .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-features:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-features:hover .icon {
  background: #f48665;
  color: #ffffff;
}

.single-features:hover .icon.bg-c679e3 {
  background: #f48665;
}

.single-features:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.hosting-features-area {
  padding-bottom: 50px;
}

.single-hosting-features {
  position: relative;
  background: #ffffff;
  text-align: center;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-hosting-features h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.single-hosting-features .icon {
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  display: inline-block;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-hosting-features .icon.bg-c679e3 {
  color: #f48665;
  background: #edc3fc;
}

.single-hosting-features .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-hosting-features::before, .single-hosting-features::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #f48665;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-hosting-features::before {
  left: 0;
}

.single-hosting-features::after {
  right: 0;
}

.single-hosting-features:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-hosting-features:hover .icon {
  background: #44ce6f;
  color: #ffffff;
}

.single-hosting-features:hover .icon.bg-c679e3 {
  background: #f48665;
}

.single-hosting-features:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.single-hosting-features:hover::after, .single-hosting-features:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

/*================================================
Features Details CSS
=================================================*/
.features-details-desc h3 {
  font-size: 20px;
  margin-bottom: 13px;
}

.features-details-desc .features-details-list {
  padding: 0;
  margin: 20px 0 0;
  list-style-type: none;
}

.features-details-desc .features-details-list li {
  margin-bottom: 12px;
  color: #6084a4;
  position: relative;
  padding-left: 15px;
}

.features-details-desc .features-details-list li::before {
  background: #f48665;
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  content: '';
}

.features-details-desc .features-details-list li:last-child {
  margin-bottom: 0;
}

.features-details-desc .features-details-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0;
}

.features-details-desc .features-details-accordion .accordion .accordion-item {
  display: block;
  -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
          box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  background: #ffffff;
  margin-bottom: 5px;
}

.features-details-desc .features-details-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.features-details-desc .features-details-accordion .accordion .accordion-title {
  display: block;
  padding: 12px 20px 12px 51px;
  text-decoration: none;
  color: #0e314c;
  position: relative;
  border-bottom: 1px solid #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.features-details-desc .features-details-accordion .accordion .accordion-title i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 100%;
  background: #f48665;
  color: #ffffff;
}

.features-details-desc .features-details-accordion .accordion .accordion-title i::before {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
}

.features-details-desc .features-details-accordion .accordion .accordion-title.active {
  border-bottom-color: #e1e1e1;
}

.features-details-desc .features-details-accordion .accordion .accordion-title.active i::before {
  content: "\f10f";
}

.features-details-desc .features-details-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  padding: 15px 15px;
}

.features-details-desc .features-details-accordion .accordion .accordion-content.show {
  display: block;
}

.features-details-area .separate {
  margin-top: 80px;
}

.features-details-image {
  text-align: center;
}

/* Testimonials */
.testimonials-slides {
  background-color: #f7fbfe;
  max-width: 850px;
  margin: 90px auto 30px;
  position: relative;
  z-index: 1;
}

.testimonials-slides::before {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 260px;
  height: 260px;
  content: '';
  z-index: -1;
  background-image: url(../../images/layer.png);
}

.testimonials-slides::after {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 260px;
  height: 260px;
  content: '';
  z-index: -1;
  background-image: url(../../images/layer.png);
}

.testimonials-slides .owl-controls {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
}

.testimonials-slides.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #D6D6D6;
  position: relative;
  margin: 0 3px;
}

.testimonials-slides.owl-theme .owl-dots .owl-dot span::before {
  background: #D6D6D6;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonials-slides.owl-theme .owl-dots .owl-dot:hover span, .testimonials-slides.owl-theme .owl-dots .owl-dot.active span {
  border-color: #f48665;
}

.testimonials-slides.owl-theme .owl-dots .owl-dot:hover span::before, .testimonials-slides.owl-theme .owl-dots .owl-dot.active span::before {
  background: #f48665;
}

.single-feedback-item {
  padding: 40px 130px 90px;
  text-align: center;
  background-color: #f7fbfe;
}

.single-feedback-item .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
  max-width: 280px;
  margin: 0 auto 25px;
}

.single-feedback-item .client-info .image {
  padding-right: 20px;
}

.single-feedback-item .client-info .image img {
  display: inline-block !important;
  width: 75px;
  border-radius: 50%;
  border: 3px solid #f48665;
}

.single-feedback-item .client-info .title h3 {
  font-size: 18px;
  margin: 0;
}

.single-feedback-item .client-info .title span {
  display: block;
  margin-top: 8px;
  color: #44ce6f;
}

.single-feedback-item p {
  font-size: 16px;
  font-style: italic;
}
