.navbar {
    padding-bottom: 0.15rem;
}

.navbar-brand {
    width: 200px;
    height: 50px;
}

/* #navbarSupportedContent {
    display: flex;
    }  */

.btn-primary{
    margin-right: 15px;
}

canvas {
    display: block;
    vertical-align: bottom;
    height: 80vh;
    width: 100vw;
    background-attachment: fixed;
}

.feedbackButton {
    display: inline-block;
    margin-right: 15px;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

.main-banner {
    top: -100px;
    background-image: url("../img/teaser/Path_984@2x.png?webp");
    background-position: top -5px right -10px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Had 990 upvotes in so for making cells the same size */
section .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

section .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

section .single-box {
    height: 100%;
}


@media only screen and (max-width: 767px) {
    .main-banner {
        top: -141px;
    }

    .btn-primary{
        margin-right: 7px;
    }

/* #navbarSupportedContent {
     flex-wrap: nowrap; 
    }  */
}

@media only screen and (max-width: 600px) {

    .navbar{
        flex-wrap: wrap;
    }

    .btn-primary{
        margin-right: 7px;
    }

/* #navbarSupportedContent {
     flex-wrap: nowrap; 
    }  */
}

@media only screen and (max-width: 250px) {
    .main-banner {
        top: -160px;
    }
}

@media only screen and (max-width: 348px) {
    .main-banner {
        top: -160px;
    }
    .navbar {
        justify-content: center;
    }

    .main-banner {
        top: -190px;
    }

    .btn-primary{
        width: 45%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 515px) {
    .navbar-brand {
        width: 200px;
    }
    
}

@media only screen and (max-width: 465px) {
    .btn {
        font-size: 11px;
        padding: 11px 14px;
    }

    .navbar-brand {
        width: 200px;
    }
}


@media only screen and (max-width: 415px) {
    .btn {
        font-size: 11px;
        padding: 11px 14px;
    }

    #navbarSupportedContent {
        flex-wrap: wrap; 
       } 

    .navbar-brand {
        width: 200px;
    }
}

@media only screen and (max-width: 375px) {
    .navbar {
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .btn {
        font-size: 10px;
        padding: 10px 20px;
        margin-right: 8px;
    }

    .navbar-brand {
        width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .coming-soon-content form .submit-btn {
        width: 120px;
    }
}

@media only screen and (max-width: 370px) {
    .coming-soon-content form .submit-btn {
        width: fit-content;
    }
}

/*.hero-content{*/
/*    !*background: #ffffff;*!*/
/*    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);*/
/*    !*box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);*!*/
/*    !*padding: 20px 20px;*!*/
/*    !*border-radius: 10px;*!*/
/*}*/

/*.mainPanel {*/
/*    background: url("../img/access-bg.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/

/*}*/
